/*font colors*/
$yellow: rgb(251, 198, 56);
$jet: #333333;
$lightgray: #555555;
$ash: E5E5E5;
$white: rgb(255, 255, 255);
$navy: rgb(20, 33, 61);
$cafe: rgb(164, 121, 99);
/*shadow colors*/
$shadowlight: #BBBBBB;
$shadowdark: #000000;

/*thunder colors*/
$color1: rgba(34,34,34,.7);
$color2: rgba(59,59,59,.1);